<ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button"  ui-sref="survey.dash" >
                <i class="icon ion-ios-arrow-back"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
           Daftar Buku
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Quests">

        <ion-content class="has-header">
             
            <ul class="list">
                <!-- <li ng-repeat="(key, value) in buku" class="item" ui-sref="survey.quests({id_survey: id_survey, id_buku: key, id_header: 1, id_quest: value.first_question})">
                    {{value.name}}
                </li> -->
                <li ng-repeat="(key, value) in buku" class="item row" ui-sref="survey.start({ id_buku: key})">
                    <div class="wrapperBuku col col-90">
                        <span>{{value.name}}</span>
                        <p class="responden">{{value.responden}}</p>
                    </div>
                    <table class="col tableArrow" height="100%"><tr  valign="middle"><td height="100%"> <i class="ion-chevron-right col"></i></td></tr></table>
                   
                </li>
            </ul>
          
        </ion-content>
        
    </ion-view>