<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
        Consent Form
    </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="Quests">
    <ion-content class="has-header">
         
        <div class="card">
                <label class="item item-input item-stacked-label">
                    <p>{{buku[id_buku].remark}}</p>
                    <p class="input-label">Saat ini, apakah Ibu/Bapak/Sdr bersedia diwawancara</p>
                    <ion-radio ng-model="data.answer" value="1">Ya</ion-radio>
                    <ion-radio ng-model="data.answer" value="0">Tidak </ion-radio>
                     
                </label>
                 <label class="item item-input item-stacked-label" ng-show="data.answer==0">
                    <p class="input-label">Jika Tidak, Alasan</p> <input type="text" ng-model="data.remark">
                </label>
            </ion-list>
            <div class="item item-input btn-right">
                <a class="button button-positive" ng-click="saveConsent(data)">Lanjut</a>
            </div>
        </div>

    </ion-content>
</ion-view>