<ion-view class="login-view pane" cache-view="false" nav-view="active">
    <div class="container middle">     
       <div class="list">
        <form name="loginForm">
          <label class="item item-input  item-stacked-label"">
            <span class="input-label">Kode Enumerator</span>
            <input type="text" ng-model="kode" required="true" ng-minlength="3" name="kode">
             <div class="alert alert-warning" ng-show="loginForm.kode.$error.required">Harus Diisi</div>
             <div class="alert alert-warning" ng-show="loginForm.kode.$error.parse">Harus Diisi Minimal 3 Digit</div>
          </label>
          <label class="item item-input  item-stacked-label"">
            <span class="input-label">Kode EA</span>
            <input type="text" ng-model="ea" ui-mask="999" required="true" ng-minlength="3" name="ea" ng-pattern="/^(00[1-9]|10[0-9]|11[0-2]|0[0-9]{2}|30[1-4])$/">
            <div class="alert alert-warning" ng-show="loginForm.ea.$error.required">Harus Diisi</div>
            <div class="alert alert-warning" ng-show="loginForm.ea.$error.parse">Harus Diisi Minimal 3 Digit</div>

          </label>
        </form>
        </div>
        <button class="button button-block button-positive" type="submit" ng-click="login()">
          Login
        </button>
    </div>
</ion-view>