<ion-nav-bar class="bar-stable" ">
    <ion-nav-buttons side="left">
      <button class="button"  ui-sref="survey.buku" >
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </ion-nav-buttons>
        <ion-nav-title>
           Selamat Datang
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Master">

        <ion-content class="has-header">
             
            <ul class="list">
                <li ng-repeat="(key, value) in survey" class="item" >
                    <div class="row">   
                        <div class="col col-50">
                              {{key+1 }} - {{value.kode_buku}} - {{value.entry_stamp}}
                        </div>
                         <div class="col col-50">
                          <div class="button-bar">
                             <button class="button button-balanced" ng-show="id_last_quest!=''" ng-click="continue_survey(value.id, id_buku)" ui-sref="survey.quests({id_survey: value.id, id_buku: id_buku, id_header: value.id_key_header, id_quest: value.id_last_quest, id_roster: value.id_last_roster})">
                                Lanjutkan Survey <i class="icon ion-chevron-right"></i>
                            </button>
                             <button class="button button-energized" ui-sref="survey.master({ id_survey: value.id, id_buku: id_buku})">
                                Edit
                            </button>
                          </div>
                        </div>
                    </div>
                  

                </li>
            </ul>
          
        </ion-content>
        
    </ion-view>
<div class="bar bar-footer">
    <button class="button button-full button-positive" ui-sref="survey.consent({id_buku: id_buku})">
        Wawancara Baru
    </button>
</div>