<ion-nav-bar class="bar-stable">
  <ion-nav-buttons side="left">
      <button class="button"  ng-click="showGoTo()" >
        <i class="icon ion-ios-list-outline"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="create_remark()" >
        <i class="icon ion-compose"></i>
      </button>
    </ion-nav-buttons>
        <ion-nav-title>
           {{header.code}}. {{header.name}}
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Quests">

        <ion-content class="has-header">
             <b class="item" ng-show="quest.first">{{header.label}}</b>
            <div class="card">

                <div class="item item-text-wrap">
                {{quest.code}}. {{quest.label}}.{{value}}
                </div>
                <!-- <p class="hint" ng-show="quest.hint >= 0">Hint Jawaban: <b>{{hint}}</b></p> -->
                <ion-list>
                    <form name="submitForm">
                        <generate-quest ng-repeat="(key, value) in quest.content" key="key" quest="quest" value="value" idsurvey="id_survey" idheader="id_header" idquest="id_quest" idroster="id_roster" answer="value.value">
                            
                        </generate-quest>
                        
                    </form>
                </ion-list>
                <div class="item item-input btn-right">
                     <div class="button-bar">
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku,id_header: prevHeader,id_quest:prevQuest })"   class="button button-positive icon-left ion-chevron-left" ng-show="!is_roster_before && !(key_header==1 && quest.first==true)">Back</a>
                     <a ui-sref="survey.roster({ id_survey: id_survey, id_buku: id_buku,id_header: prevHeader,id_quest:prevQuest })"  class="button button-positive icon-left ion-chevron-left" ng-show="(is_roster_before && !(key_header==1 && quest.first==true))" >Back</a>
                     <a ui-sref="survey.master({ id_survey: id_survey, id_buku: id_buku })"  class="button button-positive icon-left ion-chevron-left" ng-show="key_header==1 && quest.first==true" >Back</a>
                    <a ui-sref="survey.remark({id_survey: id_survey, id_buku: id_buku})" ng-click="save(quest)" ng-show="end" class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid||!submitForm.$valid">Selesai</a>
                    <a ng-click="save(quest); saveParsial()" class="button button-energized icon-right ion-android-archive">Simpan Parsial</a>
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku,id_header: nextHeader,id_quest:nextQuest })" ng-click="save(quest)" ng-hide="roster||end"  class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid||!submitForm.$valid">Lanjut</a>
                     <a ui-sref="survey.roster({ id_survey: id_survey, id_buku: id_buku,id_header: nextHeader,id_quest:nextQuest })" ng-click="save(quest)" ng-show="roster&&!end"  class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid||!submitForm.$valid">Lanjut</a>
                 </div>

                </div>
            </div>

        </ion-content>
    </ion-view>

<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view >
    <ion-header-bar>
      <h1 class="title">Go To</h1>
      <ion-header-buttons >
      <button class="button" ng-click="closeGoTo()" >
        <i class="icon ion-close"></i>
      </button>
    </ion-header-buttons>
    </ion-header-bar>
    <ion-content>
       <ul class="list listGoTo">
        <li ng-repeat="(key, value) in data" class="item "  ng-click="goTo(key);">
          <div class="wrapperBuku col col-80">
                        <span>{{value.code}} - {{value.name}}</span>

                    </div>
                    <table class="col col-20 tableArrow" height="100%"><tr  valign="middle"><td height="100%"> <i class="ion-chevron-right col"></i></td></tr></table>
        </li>
      </ul>
    </ion-content>
  </ion-modal-view>
</script>