<ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
           Selamat Datang
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Dashboard">

        <ion-content class="has-header">
            <div class="row">
               <div class="col col-50 menuDashboard" ui-sref="survey.buku" >
                <img src="img/survey.png">
                   <h4>Survey</h4>
               </div>
               <div class="col col-50 menuDashboard" ui-sref="survey.buku" >
                <img src="img/storing.png">
                   <h4>Backup</h4>
               </div>
            </div>          
        </ion-content>
        
    </ion-view>