<ion-view class="login-view pane" cache-view="false" nav-view="active">
    <div class="container middle">     
       <div class="list">
        <label class="item item-input  item-stacked-label"">
          <span class="input-label">Kode Enumerator</span>
          <input type="text" ng-model="kode" ui-mask="A99">
        </label>
        <label class="item item-input  item-stacked-label"">
          <span class="input-label">Kode EA</span>
          <input type="text" ng-model="ea" ui-mask="999">
        </label>

        </div>
        <button class="button button-block button-positive" type="submit" ng-click="login()">
          Login
        </button>
    </div>
</ion-view>