<ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
        Master Survey
    </ion-nav-title>
</ion-nav-bar>
<ion-view view-title="Quests">
    <ion-content class="has-header">
         
        <div class="card">

            <ion-list>
                <div class="row">
                    <div class="col col-75">
                        LK.01. PROVINSI : {{ea.provinsi}}
                    </div>
                    <div class="col col-25">
                        KODE : {{ea.kode_provinsi}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        LK.02. KABUPATEN/ KOTA : {{ea.kabupaten}}
                    </div>
                    <div class="col col-25">
                        KODE : {{ea.kode_kabupaten}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        LK03. KECAMATAN : {{ea.kecamatan}}
                    </div>
                    <div class="col col-25">
                        KODE : {{ea.kode_kecamatan}}
                    </div>
                </div>
                <div class="row">
                    <div class="col col-75">
                        LK04. DESA/KELURAHAN : {{ea.desa}}
                    </div>
                    <div class="col col-25">
                        KODE : {{ea.kode_desa}}
                    </div>
                </div>
                 <label class="item item-input item-stacked-label" >
                    <span class="input-label">KODE BUKU</span>
                    <b>{{buku[id_buku].code}}</b>
                </label>    
                <label class="item item-input item-stacked-label" ng-show="id_buku==3 || id_buku==9 ||id_buku==7 || id_buku==1 || id_buku==6 ">
                    <span class="input-label" ng-show="id_buku==3 || id_buku==9">ID RT</span>
                    <span class="input-label" ng-show="id_buku==7 || id_buku==1 || id_buku==6">ID BUKU</span>
                    <input type="text" ng-model="data_survey.no" dua-digit>
                </label> 

                <label class="item item-input item-stacked-label" ng-show="id_buku==9">
                    <span class="input-label">ID ART</span>
                    <input type="text" ng-model="data_survey.id_art" dua-digit>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nama Supervisor</span>
                    <input type="text" ng-model="data_survey.nama">
                </label>
                 <label class="item item-input item-stacked-label">
                    <span class="input-label">Kode Supervisor</span>
                    
                    <input type="text" ng-model="data_survey.spv">
                </label>
               
                <div class="item item-input item-stacked-label">
                    <span class="input-label">LK05. DUSUN/LINGKUNGAN/RW/RT</span>
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">a. DUSUN/LINGKUNGAN</span>
                        <input type="text" ng-model="data_survey.dusun">
                    </label>
                    <div class="item item-input item-stacked-label">
                        <span class="input-label">b.RW / RT</span>
                        <input type="text" ng-model="data_survey.rw" placeholder="RW" ui-mask="**" dua-digit class="col col-25">
                        <input type="text" ng-model="data_survey.rt" placeholder="RT" ui-mask="**" dua-digit class="col col-25">
                    </div>
                 </div>
                  
                
               <label class="item item-input item-stacked-label">
                    <span class="input-label">LK06. Alamat(TULIS NAMA JALAN, GANG, NO. BANGUNAN)</span>
                    <input type="text" ng-model="data_survey.address" ng-minlength="3">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">LK07. Keterangan Lokasi</span>
                    <input type="text" ng-model="data_survey.location">
                </label>
              
                <div class="item item-input item-stacked-label">

                    <span class="input-label">LK08. Telepon/HP</span>
                    <div class="item item-input item-stacked-label"> 
                        <ion-checkbox ng-model="data_survey.is_telp" ng-change="emptyTT(data_survey)">A. Telepon </ion-checkbox><input ng-show="data_survey.is_telp" type="text"  class="others" ui-mask="**99-999999999" ng-model="data_survey.phone" ng-disabled="!data_survey.is_telp">
                    </div>
                     <div class="item item-input item-stacked-label"> 
                        <ion-checkbox ng-model="data_survey.is_hp" ng-change="emptyTT(data_survey)">B. HP </ion-checkbox><input ng-show="data_survey.is_hp" type="text"  class="others" ui-mask="**99-999999999" ng-model="data_survey.hp" ng-disabled="!data_survey.is_hp">
                        <label class="item item-input item-stacked-label" ng-show="data_survey.is_hp">Nama Pemilik</label><input ng-show="data_survey.is_hp" type="text" ng-model="data_survey.owner" ng-disabled="!data_survey.is_hp">
                    </div>
                    
                    <label class="item item-input item-stacked-label"><ion-checkbox ng-model="data_survey.tt" ng-change="emptyPhone(data_survey)" >W. TIDAK BERLAKU</ion-checkbox></label>
                   
                </div>
            </ion-list>
            <div class="item item-input btn-right">
                <a class="button button-positive" ng-click="save(data_survey)">Simpan</a>
            </div>
        </div>

    </ion-content>
</ion-view>