<ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
           CP. CATATAN PEWAWANCARA
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Quests">

        <ion-content class="has-header">
            
             <ul class="list">
                <li ng-repeat="(key, value) in remark" class="item" ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku, id_header: key_header, id_quest: id_quest, id_roster: key})">
                    {{value.variable}}. {{value.remark}}
                </li>
                <li ng-show="displayForm">
                    <label class="item item-input item-stacked-label"><div class="input-group"><span class="input-group-addon ">Variabel</span> <input type="text" ng-model="data.variable" class="input-addon " placeholder="Variabel "></div></label> 
                    <label class="item item-input item-stacked-label"><div class="input-group"><span class="input-group-addon ">Catatan</span> <input type="text" ng-model="data.remark" class="input-addon " placeholder="Catatan "></div></label> 

                </li>
            </ul>
             <div class="item item-input btn-right">
                <a ng-click="insert()" ng-show="insertOther"  class="button button-positive icon-right ion-plus-round">Tambah Lainnya</a> &nbsp;
                <a ng-click="save(data)" ng-show="saveOther" class="button button-positive icon-right ion-plus-round">Simpan</a> &nbsp;
                <a ui-sref="survey.buku" class="button button-positive icon-right ion-checkmark-round">Selesai</a> &nbsp;
            </div>
        </ion-content>
    </ion-view>