<ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
           {{header.code}}. {{header.name}}
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Quests">

        <ion-content class="has-header">
            <b class="item">{{header.quest_code}}. {{header.label}}</b>
             <ul class="list">
                <li ng-repeat="(key, value) in header.crosstab" class="item  item-button-right" is-disable-roster="header.crosstab.status" ng-init="_i = 0;">
                    {{$index + 1}}. {{value.nama}}
                    <button class="button button-balanced third" ng-disabled="value.status==0" ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku, id_header: key_header, id_quest: id_quest, id_roster: key})">
                        Isi Form<i class="icon ion-chevron-right"></i>
                    </button>
                    <button class="button button-energized second" ng-show="header.is_empty" ng-click="edit_roster(key,value)">
                        <i class="icon ion-gear-b"></i>
                    </button>
                    <button class="button button-assertive" ng-show="header.is_empty" ng-click="delete_roster(key,value)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </li>
                <li ng-show="displayForm">
                    <label class="item item-input item-stacked-label"><div class="input-group"><span class="input-group-addon "></span> <input type="text" ng-model="crosstab.value" class="input-addon " placeholder=""></div></label> 
                </li>
            </ul>
             <div class="item item-input btn-right">
                <div class="button-bar">
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku,id_header: prevHeader,id_quest:prevQuest })" class="button button-positive icon-left ion-chevron-left" ng-show="key_header > 1">Back</a>
                    <a ui-sref="survey.roster({id_survey: id_survey, id_buku: id_buku, id_header: prevHeader,id_quest:prevQuest })" class="button button-positive icon-left ion-chevron-left" ng-show="is_roster_before">Back</a>
                    <a ng-click="insert()" ng-show="insertOther"  class="button button-positive icon-right ion-plus-round">Tambah Lainnya</a>
                    <a ng-click="saveRoster()" ng-show="saveOther" class="button button-positive icon-right ion-plus-round">Simpan</a>
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku, id_header: nextHeader, id_quest:nextQuest })" ng-click="save()" ng-hide="roster" class="button button-positive icon-right ion-chevron-right" ng-disabled="!is_valid">Lanjut</a>

                     <a ui-sref="survey.roster({ id_survey: id_survey, id_buku: id_buku,id_header: nextHeader,id_quest:nextQuest })" ng-click="save()" ng-show="roster" class="button button-positive icon-right ion-chevron-right" ng-disabled="!is_valid">Lanjut</a>
                </div>
            </div>
        </ion-content>
    </ion-view>