<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="right">
      <button class="button" ng-click="create_remark()" >
        <i class="icon ion-compose"></i>
      </button>
    </ion-nav-buttons>
        <ion-nav-title>
           {{header.code}}. {{header.name}}
        </ion-nav-title>
    </ion-nav-bar>
    <ion-view view-title="Quests">

        <ion-content class="has-header">
             
            <div class="card">

                <div class="item item-text-wrap">
                {{quest.code}}. {{quest.label}}.{{value}}
                </div>
                <!-- <p class="hint" ng-show="quest.hint >= 0">Hint Jawaban: <b>{{hint}}</b></p> -->
                <ion-list>
                    <form name="submitForm">
                        <generate-quest ng-repeat="(key, value) in quest.content" key="key" quest="quest" value="value" idsurvey="id_survey" idheader="id_header" idquest="id_quest" idroster="id_roster" answer="value.value">
                            
                        </generate-quest>
                        
                    </form>
                </ion-list>
                <div class="item item-input btn-right">
                     <div class="button-bar">
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku,id_header: prevHeader,id_quest:prevQuest })"   class="button button-positive icon-left ion-chevron-left" ng-show="!(key_header==1 && quest.first==true)">Back</a>
                     <a ui-sref="survey.roster({ id_survey: id_survey, id_buku: id_buku,id_header: prevHeader,id_quest:prevQuest })"  class="button button-positive icon-left ion-chevron-left" ng-show="is_roster_before" >Back</a>
                     <a ui-sref="survey.master({ id_survey: id_survey, id_buku: id_buku })"  class="button button-positive icon-left ion-chevron-left" ng-show="key_header==1 && quest.first==true" >Back</a>
                    <a ui-sref="survey.remark({id_survey: id_survey, id_buku: id_buku})" ng-click="save(quest)" ng-show="end" class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid">Selesai</a>
                    <a ng-click="save(quest); saveParsial()" class="button button-energized icon-right ion-android-archive">Simpan Parsial</a>
                    <a ui-sref="survey.quests({id_survey: id_survey, id_buku: id_buku,id_header: nextHeader,id_quest:nextQuest })" ng-click="save(quest)" ng-hide="roster||end"  class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid">Lanjut</a>
                     <a ui-sref="survey.roster({ id_survey: id_survey, id_buku: id_buku,id_header: nextHeader,id_quest:nextQuest })" ng-click="save(quest)" ng-show="roster&&!end"  class="button button-positive icon-right ion-chevron-right" ng-disabled="is_valid">Lanjut</a>
                 </div>

                </div>
            </div>

        </ion-content>
    </ion-view>