/* Empty. Add your own CSS if you like */
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], input[type="date"], .select-wrapper input.select-dropdown {
    border: 1px solid #ccc;
    height: 36px;
    border-radius: 2px;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
}

input:not([type]):focus:not([readonly]), input[type="text"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]) {
    border: 1px solid #a4d63f;
    box-shadow: none;
}

.item-input {
    padding: 16px;
}
.btn-right button{
	 float: right
}
generate-quest {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #cdcdcd;
}
.container.middle {
    margin: 200px 20px;
}
.bar.bar-footer .button.button-full{
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.others{
   
    margin: 16px 16px 16px 60px;

}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
        
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;

    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}
.hint{
    padding: 16px;
}

.input-addon {
    position: relative;
    z-index: 2;
    float: left;
    
    margin-bottom: 0;
    display: table-cell;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin: 0;
}
.wrapper{
    display: table;
}

.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
     white-space: normal;
}
.item span{
    /*text-transform: uppercase;*/
}
.item p.responden{
    font-size: 0.8em;
     white-space: unset;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], input[type="date"], .select-wrapper input.select-dropdown{
     text-transform: uppercase;
}
.menuDashboard{
    vertical-align: middle;
    text-align: center;
}
.tableArrow td{
    vertical-align: middle;
}
.input-label {
   width: 100%;
     max-width: initial; 
    
}
.item p{
    white-space: initial;
}
.input-label.leftLabel{
    display: table-cell;
    width: 2%;
}
.button.second{
    right: 66px;
}
.button.third{
    right: 117px;
}
.item-stacked-label .input-label{
    display: block;
}
.bar-header{
    text-align: center;
}
.ion-title{
    text-align: center;
}
.bar .title.title-left {
    text-align: center;
}
.alert {

    border-radius: 4px;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-warning {
   background-color: #f9d960;
    border-color: #faf2cc;
    color: #8a6d3b;
}
.alert ul li{
    padding: 15px;
}
.listGoTo .wrapperBuku{
    display: inline-block;
}
.listGoTo .tableArrow{
    display: inline;
}